
@using MVCStokUpdate
@using MVCStokUpdate.Models.Entity
@model List<TBLURUNLER>


@{
    ViewBag.Title = "Urun";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table {
        margin-top: 40px;
        background-color: rgb(214, 162, 232);
        color: white;
    }

    body {
        background-image: url('../../image/pexels-content-pixie-2736499.jpg');
        background-color: rgb(214, 162, 232);
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<table class="table table-bordered">
    <caption style="color:darkred; border:2px solid Violet;">ÜRÜNLER<a href="/Admin/YeniUrun" class="btn btn-primary" style="background-color: rgb(184,132,202); margin-left: 950px; ">Ürün Ekle</a></caption>
    <tr>
        <th style="color:darkred">Ürün Adı:</th>
        <th style="color:darkred">Marka:</th>
       
        <th style="color:darkred">Ürün Fiyatı:</th>
        <th style="color:darkred">Ürün Stoğu:</th>

    </tr>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.URUNAD</td>
                <td>@a.MARKA</td>
               
                <td>@a.FIYAT</td>
                <td>@a.STOK</td>
             
                <td>
                    <a href="/Admin/USil/@a.URUNID/" class="btn btn-danger" style="background-color: rgb(184,132,202);float:right">Sil</a>
                    <a href="/Admin/YeniUrun?id=@a.URUNID" class="btn btn-danger" style="background-color: rgb(184,132,202);float:right">Güncelle</a>
                </td>


            </tr>
        }

    </tbody>
</table>



