
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(206, 214, 224);color:black">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/User/HomePage">E-Ticaret</a>
            </div>
            <ul class="nav navbar-nav">
                <!--<li><a href="/Admin/Index">Kategori</a></li>-->
                @*<li><a href="/Admin/Urun">Ürün</a></li>
        <li><a href="/Admin/Musteri">Müşteri</a></li>*@
                <li><a href="/User/Index">Sepet</a></li>
                <li><a href="/User/Kayitol/" style="margin-left:900px;">Kayıt Ol</a></li>
                <li><a href="/User/LogOut/" >Çıkış</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
